:root {
    --back-color: darkblue;
    --h1-color: #0077FF;
    --h2-color: #FFD700;
    --p-color: #20B2AA;
}
h1 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    color: var(--h1-color);
    position: absolute;
}
h2 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: var(--h2-color);
}
p {
    font-family: "Noto Serif", serif;
    font-style: normal;
    color: var(--p-color);
}
a {
    text-decoration: none;
}
.hero article {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 215, 0, 0.5); 
    padding: 10px 20px;
    border-radius: 5px;
    text-align: justify;
}
.hero p{
    color: var(--h1-color);
    
}
.hero {
    position: relative;
    width: 100%;
}
.hero h1{
    width: 100%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.subhero img{
    width: 150px;
    float: right;
    margin: 10px;
}